<h2>MIT Courses For Student</h2>

<ul>
    <% @course.each do | course| %>
        <li>
            <%= course.course_name %>
            
        </li>
        <li>
            <%= course.description %>
            
        </li>

    <% end %>
</ul>